body{
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    /* padding: 0px 100px; */
    /* font-family: 'Signika',sans-serif; */
}
.logo{
    font-size: 50px;
    letter-spacing: 5px;
    color: #222f3e;
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
.menu a:last-child{
    background: #de3031;
    border-radius: 8px;
    letter-spacing: 2px;
    color: white;
}
.h-text{
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: -1;
}
.h-text h1{
    font-size: 60px;
    color: #222f3e;
    font-family: 'Crimson Text',serif;
}
.h-text p{
    font-size: 20px;
    margin-bottom: 30px;
}
.h-text a{
text-decoration: none;
background: #01a3a4;
color: white;
font-size: 20px;
padding: 10px 20px;
font-family: 'Bitter',serif;
border-radius: 8px;

}
#more{
    background: transparent;
    color: #01a3a4;
    box-shadow: 2px 0px 0px grey
}
.icon{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.icon img{
    width: 30px;
    height: 30px;
    margin: 5px 0px;
    
}
.icon img:hover{
    transition: 0.4s;
    width: 50px;
    height: 50px;
}
.box{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 234, 167, 0.7);
    z-index: -2;
}
.umang{
    width: 510px;
    height: 100%;
    position: absolute;
    right: 7%;
    top: 0;
    z-index: -1;
}
#about{
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
}
.about-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-left-col{
    flex-basis: 40%;
    text-align: center;
    background: rgba(255, 159, 243, 0.2);
}
.about-left-col img{
    width: 40vw;
    height: 100%;
    padding: 20px;
}
.about-right-col{
    flex-basis: 50%;

}
.about-right-col h1{
    font-size: 3em;
    color: #222f3e;
    line-height: 1.4em;
    font-family: 'Poppins',sans-serif;
}
.about-right-col p{
    font-size: 20px;
    color: gray;
    margin: 30px 0px 40px 0px;
}
.about-right-col a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    background: #01a3a4;
}
.about-right-col img{
    font-size: 20px;
}





#education{
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
}
.edu-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edu-right-col{
    flex-basis: 40%;
    text-align: center;
    background: rgba(255, 159, 243, 0.2);
}
.edu-right-col img{
    /* width: 70%; */
    height: 100%;
    padding: 20px;
}
.edu-left-col{
    flex-basis: 50%;

}
.edu-left-col h1{
    font-size: 3em;
    color: #222f3e;
    line-height: 1.4em;
    font-family: 'Poppins',sans-serif;
}
.edu-left-col p{
    font-size: 20px;
    color: gray;
    margin: 30px 0px 40px 0px;
}
/* .edu-right-col a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    background: #01a3a4;
} */
.edu-left-col img{
    font-size: 20px;
}




#skills{
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
}
.skills-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-left-col{
    flex-basis: 40%;
    text-align: center;
    background: rgba(255, 159, 243, 0.2);
}
.skills-left-col img{
    width: 50vw;
    height: 100vh;
    padding: 20px;
}
.skills-right-col{
    flex-basis: 50%;

}
.skills-right-col h1{
    font-size: 3em;
    color: #222f3e;
    line-height: 1.4em;
    font-family: 'Poppins',sans-serif;
}
.skills-right-col p{
    font-size: 20px;
    color: gray;
    margin: 30px 0px 40px 0px;
}
/* .skills-right-col a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    background: #01a3a4;
} */
.skills-right-col img{
    font-size: 20px;
}




#skills-2{
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}
.skills-2-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-2-right-col{
    flex-basis: 40%;
    text-align: center;
    background: rgba(255, 159, 243, 0.2);
}
.skills-2-right-col img{
    width: 40vw;
    height: 100vh;
    padding: 20px;
}
.skills-2-left-col{
    flex-basis: 50%;

}
.skills-2-left-col h1{
    font-size: 3em;
    color: #222f3e;
    line-height: 1.4em;
    font-family: 'Poppins',sans-serif;
}
.skills-2-left-col p ul li{
    font-size: 20px;
    color: gray;
    margin: 30px 0px 40px 0px;
}
/* .skills-2-left-col a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    background: #01a3a4;
} */
/* .skills-2-left-col img{
    font-size: 20px;
} */